
/* paleta de colores
 amarrilo #FFE74C
 #8D5A97 morado
  #907F9F violeta
   #A4A5AE plata azulado
    #FC7753 naranja pastel  */


    background: #5614B0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD65C, #5614B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
*{
  font-family: monospace;
  text-align: center;
  }


  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
  
  


  a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #003B4A;
  }
  
  .nav{
    display: flex;
    background-color: #E66EB2;
    justify-content: space-around;
    align-items: baseline;
    font-family: 'Raleway', sans-serif;
    color: #003B4A;
  }
  .h3-navbar{
    margin-top: 60px;
    font-size: 30px;
    -webkit-text-stroke: 1px #003B4A;
  }
  .input-navbar{
    width: 300px;
    height: 20px;
    background-color: #8d5a9700;
    font-size: 20px ;
    color: #003B4A;
  }
  .button-navbar{
    height: 30px;
    background-color: #00000000;
    font-size: 20px;
    color: #003B4A;
  }

  body{
    background-image: url(imagen2.jpg);
    background-repeat: no-repeat;
  }
  p{
    display: flex;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #003B4A;
    -webkit-text-stroke: 1px #003B4A
  }
  
  .p-header{
  margin-top: 20%;
  margin-left: 30%;
  }
  .p-header2{
    margin-bottom: 23%;
    margin-left: 30%;
  }
  .main{
    background-color: #E66EB2;
  }
  .p-section{
    display: flex;
    justify-content: center;
  }
.section1-main{
  padding-bottom: 100px;
  background-color: #E66EB2;
  padding-top: 100px;
}
.footer{
  background-color: #003B4A;
  color: #E66EB2;
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
}